.clockTitle{
  width: 600px;
  height: 200px;
  margin: 0 auto;
  font-size: 250px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clockTitle2{
padding-bottom: 20px;
width: 30%;
height: 27%;
margin: 0 auto;
color: #ffffff;
font-weight: 700;
display: flex;
align-items: flex-end;
}