.js-form{
  width: 350px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

.js-toDoForm{
  width: 350px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

input { width: 350px;
        background: transparent;
        border: none;
        color: #ffffff;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        border-bottom: 2px solid #ffffff;
      }
input:focus{outline: none;
}

input::placeholder{
  color: white;

}
    